
{% include 'aayas_header.html'%}
	<form method="post">
		<center>
			<h2>REPORT TO CHILDLINE</h2>
			<table class="table" style="width: 600px;">
				<tr>
					<th>Complaint</th>
					<td><input type="text" name="comp" class="form-control" required></td>
				</tr>
				<tr>
					<td colspan="2" align="center"><input type="submit" name="submit" class="btn btn-info"></td>
				</tr>
			</table>
			<h2>REPORTS</h2>
			<table class="table" style="width: 700px;">
				<tr>
					<th>Sl.no</th>
					<th>Student Name</th>
					<th>Complaint</th>
					<th>Date</th>
				</tr>
				{% for row in data['cmp'] %}
				<tr>
					<td>{{loop.index}}</td>
					<td>{{row['sname']}}</td>
					<td>{{row['complaint']}}</td>
					<td>{{row['date']}}</td>
				</tr>
				{% endfor %}
			</table>
		</center>
	</form>
{% include 'footer.html'%}